@charset "UTF-8";
/* 电脑背景 */
body { /* 手机端背景图 */ --mobile-background-image: url(https://pan.wiiuii.cn/p/DATA/BLOG/images/%E5%93%88%E5%A6%AE%E5%85%8B%E5%AD%9C05.jpg); /* 电脑端背景图 */ --desktop-background-image: url(https://pan.wiiuii.cn/p/DATA/BLOG/images/%E5%93%88%E5%A6%AE%E5%85%8B%E5%AD%9C10.jpg); }

.hope-ui-dark .markdown-body a { color: var(--hope-colors-loContrast) !important; }

html ::selection { background-color: var(--hope-colors-accent8); color: var(--hope-colors-loContrast); }

body { background-image: var(--desktop-background-image) !important; background-repeat: no-repeat !important; background-size: cover !important; background-attachment: fixed !important; background-position-x: center !important; }

/* 竖屏背景图片 */
@media screen and (max-width: 960px) { body { background-image: var(--mobile-background-image) !important; } }

/* 视频背景 */
.video-container { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; overflow: hidden; }

.video-container video { min-width: 100%; min-height: 100%; width: auto; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); object-fit: cover; }

/* 路径面包屑 */
.hope-c-PJLV-idaeksS-css, .hope-c-PJLV-ikaMhsQ-css { background: none !important; }

.hope-c-PJLV-idaeksS-css { border-radius: var(--hope-radii-full); overflow: hidden; padding: var(--hope-space-1) var(--hope-space-2); }

.hope-c-khZXrc { display: inline-block !important; }

.hope-c-cPYwgm { text-overflow: ellipsis; display: -webkit-box !important; -webkit-line-clamp: 1; -webkit-box-orient: vertical; white-space: normal; word-break: break-all; }

.hope-c-iIOWzi { padding: 0 var(--hope-space-1) !important; }

/* 玻璃样式 */
.hope-c-PJLV-igScBhH-css, .hope-c-hOYTCS, .hope-c-PJLV-idaeksS-css, .hope-c-PJLV-ieTGfmR-css, .header-right.hope-stack > div, .hope-c-PJLV-ijgzmFG-css, .hope-c-PJLV-ikJQsXT-css, .hope-c-zbPwS, .hope-c-XJURY, .hope-c-ivMHWx-fbcPgu-cv, .hope-c-ivMHWx-dvmlqS-cv, .hope-c-ivMHWx-dMllzy-cv, .hope-c-cFbQhW, .hope-c-ivMHWx-knrFJ-cv, .hope-c-ivMHWx-gHYUvy-cv, .hope-c-PJLV-iigjoxS-css, .solid-contextmenu, .hope-c-PJLV-idusLCn-css, .hope-c-ivMHWx-eHkSxq-cv, .hope-c-kvTTWD-hYRNAb-variant-filled, .hope-c-ivMHWx:disabled, .hope-c-mHASU-byiOue-variant-filled, .hope-c-mHASU-kukbfD-variant-outline, .hope-c-PJLV-ihVEsOa-css, .hope-c-gIqhpo, .hope-c-PJLV-idMNcPR-css, .hope-c-PJLV-ieGWMbI-css, .hope-c-PJLV-iZZmce-css, .hope-c-PJLV-ibcBsNO-css .hope-c-PJLV-iubUra-css, .hope-c-PJLV-ibcBsNO-css .hope-c-PJLV-ifjOQLV-css, .hope-c-cIFneQ, .hope-c-PJLV-ikAHMBe-css { background-color: transparent !important; box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.5), inset -1px -1px 0px 0px rgba(255, 255, 255, 0.6) !important; cursor: grab; backdrop-filter: url(#liquid-glass-filter) blur(20px) saturate(1.4) !important; pointer-events: auto; border: none !important; }

/* 首页搜索按钮 */
.header-right.hope-stack > div { height: var(--hope-sizes-8); border: none !important; padding: var(--hope-space-1) var(--hope-space-2) !important; }

/* 按钮 */
.hope-c-PJLV-ijSQbqe-css { background-color: var(--hope-colors-blackAlpha3) !important; border-color: rgba(234, 234, 234, 0.5) !important; }

.hope-c-PJLV-iciJSBF-css { opacity: 0.5; }

/* 文件内容 */
.markdown-body .highlight pre, .markdown-body pre { background-color: var(--hope-colors-blackAlpha3) !important; backdrop-filter: blur(var(--hope-space-3)); }

/* 选择悬停 */
.hope-c-gUeVCo[data-active], .hope-c-kRwRnM-gSazcJ-colorScheme-neutral[data-active] { background-color: var(--hope-colors-blackAlpha3) !important; }

/* 侧边设置遮罩 + 弹窗遮罩 */
.hope-c-ctSAUo, .hope-c-bICGYT-dWksIc-scrollBehavior-outside { background-color: var(--hope-colors-blackAlpha6) !important; backdrop-filter: blur(8px); }

/* 底部footer */
.footer { opacity: 0; transition: opacity .3s ease-in-out; }

/* 版权信息 */
.copyright { font-size: 14px; text-align: center; }

.copyright .copyright-links { display: flex; align-items: center; justify-content: center; gap: var(--hope-space-2); }

.copyright .copyright-desc { line-height: 2; }

.copyright a { transition: color .3s ease-in-out; }

.copyright a:hover { color: var(--hope-colors-accent8); }

/* 登录页面 */
.hope-c-PJLV-ihWgyFw-css, .hope-c-PJLV-ibiABng-css { display: none !important; }
